body{
    margin: 0;
    padding: 0;
    background-color: white;
}


.navbar-brand img {
    height: 40px; /* Adjust the height of the logo image as needed */
}
.navbar {
    background-color: white;
    
}
.navbar-nav li a{
    font-size: 1.1rem;
    font-weight: 600;
    color: black;
}



.navbar div a:hover{
    color: #e94154;
}

.here-box {
    width: 100%;
    
}

