body{
    margin: 0;
    padding: 0;
    background-color: white;
}


.navbar-brand img {
    height: 40px; /* Adjust the height of the logo image as needed */
}
.navbar {
    background-color: white;
    
}
.navbar-nav li a{
    font-size: 1.1rem;
    font-weight: 600;
    color: black;
}



.navbar div a:hover{
    color: #e94154;
}

.here-box {
    width: 100%;
    
}
.card-title {
    font-size: 52px;
    font-weight: 900;
    line-height: 1;
    color: #e94154;
}



@-webkit-keyframes scroll {
    0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    }
    100% {
    -webkit-transform: translateX(calc(-250px * 7));
    transform: translateX(calc(-250px * 7));
    }
    }
    @keyframes scroll {
    0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    }
    100% {
    -webkit-transform: translateX(calc(-250px * 7));
    transform: translateX(calc(-250px * 7));
    }
    }
    .slider {
    background-color: #ececec;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
    }
    .slider::before, .slider::after {
    
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
    }
    .slider::after {
    right: 0;
    top: 0;
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
    }
    .slider::before {
    left: 0;
    top: 0;
    }
    .slider .slide-track {
    -webkit-animation: scroll 40s linear infinite;
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
    }
    .slider .slide {
    height: 100px;
    width: 250px;
    }
    




/* Makema Styling below */

/*Programs page*/

.clubstat {
background-color: #eb40341f; width: 100%; min-height: 30%;
padding-left: 150px;
padding-top: 40px;
padding-bottom: 40px;} 
.clubstat{margin: top 100px;}
h1.clubstat{
font-family: sans-serif;
font-weight:400;
}

.theythem{
display: flex;
padding-top: 40px;
padding-bottom: 40px;
}
.programsdet{
padding-left: 90px;
padding-top: 70px;
}
.restof{
padding-left: 150px;
}

table.onecolumn {
    font-family: sans-serif;
    font-size: 20px;
    border-collapse: collapse;
    border: 1px solid #ddd;
    border-radius: 10px;
}

table.onecolumn td {
    border: 1px solid #ddd; 
    padding: 10px 60px;
    padding-right: 140px;
    text-align: left; 
    border-bottom: 1px solid #ddd;
}

table.onecolumn tr:last-child td {
    border-bottom: none;
}


/* About Us page*/

.sct1abt{
background-image: url(girlcode_students-BNN1dAjh.webp);
padding-top: 80px;
padding-bottom: 80px;
}
.mantsu{
padding-left: 150px;
color: #ddd;
}

.sct2abt{
background-color: #ececec;
display: flex;
}

.videoxx { padding-left: 70px;

    position: relative;
    width: 50%;
    max-width: 500px;
    margin: 20px auto;
}

/* Style for the video*/
video {
    display: block;
    width: 100%;
    height: auto; 
    outline: none; 
}

.parabt{padding-left: 60px;
padding-top: 100px;
padding-bottom: 100px;
}

h1.sct3abt{
}
.www{
text-align: center;
padding-top: 50px;
}

.things{
}

.numbers{
text-align: center;
display: flex;
gap: 250px;
padding-top: 50px;
}
.redwords{
text-align: center;
display: flex;
gap: 250px;
padding-bottom: 50px;
}