body{
    margin: 0;
    padding: 0;
    background-color: white;
}


.navbar-brand img {
    height: 40px; /* Adjust the height of the logo image as needed */
}
.navbar {
    background-color: white;
    
}
.navbar-nav li a{
    font-size: 1.1rem;
    font-weight: 600;
    color: black;
}



.nav-item a:hover{
    color: #e94154;
}

.here-box {
    width: 100%;
    
}
.card-title {
    font-size: 52px;
    font-weight: 900;
    line-height: 1;
    color: #e94154;
}
div.small {
  margin-top: 200px;
}
@media (max-width: 600px) {
  div.small{
      margin-top: 0px;
  }
}


@-webkit-keyframes scroll {
    0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    }
    100% {
    -webkit-transform: translateX(calc(-250px * 7));
    transform: translateX(calc(-250px * 7));
    }
    }
    @keyframes scroll {
    0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    }
    100% {
    -webkit-transform: translateX(calc(-250px * 7));
    transform: translateX(calc(-250px * 7));
    }
    }
    .slider {
    background-color: #ececec;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
    }
    .slider::before, .slider::after {
    
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
    }
    .slider::after {
    right: 0;
    top: 0;
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
    }
    .slider::before {
    left: 0;
    top: 0;
    }
    .slider .slide-track {
    -webkit-animation: scroll 40s linear infinite;
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
    }
    .slider .slide {
    height: 100px;
    width: 250px;
    }

    /*programs an bootcamps*/
    .btn-primary{
        background-color: #e94154;
        border-color: #e94154;
        margin-top: 20px;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
      
      .card-fixed {
        width: 23rem;
        height: 20rem; /* Adjust the height as needed */
        margin-bottom: 20px; /* Add some space between rows */
      }
      
      .card-img-top {
        height: 10rem; /* Adjust the height of the image as needed */
        object-fit: cover; /* Ensures the image covers the area */
      }
      
      .card-body {
        height: calc(100% - 10rem); /* Adjust according to the image height */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      .section-header h2  {
          font-size: 36px;
          font-weight: 700;
          line-height: 1.2;
          
      }
      .section-header h2 span {
          font-weight: 400;
          
      }
      .section-wrapper {
        margin-top: 5rem;
      }

      /*events and workshops*/
      #events-workshops{
        color: white;
        background-color: #e94154;
        padding: 72px 0
      }

      .section-wrapper#events-workshops .btn-cta {
        width: fit-content;
        margin: 0;
      }

      .btn.btn-cta {
        background: #fff;
        color: #e94154;
        font-size: 1.2rem;
        font-weight: bolder;
        width: 12rem;
        border: 1px solid #fff;
        box-shadow: none;
        margin: 0 auto;
        display: block;
    }

    .section-wrapper#events-workshops .events-count {
        font-size: 2rem;
        font-weight: 700;
        text-align: center;
    }

    .section-wrapper#events-workshops .events-count span {
        display: block;
        font-size: 1.5rem;
        font-weight: 300;
    }

    /*help section*/
    .help-wrapper:nth-child(odd) {
      background: #ececec;
      padding: 72px 0;
  }
  
  
  
  .help-wrapper .help-header h2 {
      font-weight: 700;
      font-size: 36px;
      text-align: center;
      line-height: 1.2;
      margin: 0;
  }

  .help-content {
    margin-top: 36px;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.col-sm-3 {
  display: flex;
}
.help2 {
  background-color: #ececec;
display: flex;
flex-direction: column;
flex: 1;
}

h4 {
  font-size: 12px;
}


/*sponsors images section*/
.partner-logo img {
  object-fit: contain;
  aspect-ratio: 3;
  object-position: center;
}
figure img {
  aspect-ratio: 2;
  width: 100%;
  object-position: top center;
  object-fit: cover;
}
.partner-header {
  text-align: center;
}
.partner-header h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  margin: 0;
}
.partner-header h2 span{
  display: block;
  font-weight: 400;
  font-size: 17px;
  margin-top: 1.5rem;
}

.btn.btn-learn-more {
  width: fit-content;
  font-weight: bolder;
  color: #fff;
  background-color: #e94154;
  border-color: #e94154;
  
}

/*footer*/
.btn.btn-footer {
  width: 70%;
  font-weight: bolder;
  background: #fff;
  color: #e94154;
}

.btn.btn-footer:hover {
  
  background: #1148c7;
  color: white;
}
footer {
padding: 60px 0px;
}

  

      
    




/* Makema Styling below */

/*Programs page*/

.clubstat {
background-color: #eb40341f; width: 100%; min-height: 30%;
padding-left: 150px;
padding-top: 40px;
padding-bottom: 40px;} 
.clubstat{margin: top 100px;}
h1.clubstat{
font-family: sans-serif;
font-weight:400;
}

.theythem{
display: flex;
padding-top: 40px;
padding-bottom: 40px;
}
.programsdet{
padding-left: 90px;
padding-top: 70px;
}
.restof{
padding-left: 150px;
}

table.onecolumn {
    font-family: sans-serif;
    font-size: 20px;
    border-collapse: collapse;
    border: 1px solid #ddd;
    border-radius: 10%;
}

table.onecolumn td {
    border: 1px solid #ddd; 
    padding: 10px 60px;
    padding-right: 150px;
    text-align: left; 
    border-bottom: 1px solid #ddd;
    white-space: nowrap;
}

table.onecolumn tr:last-child td {
    border-bottom: none;
}


/* About Us page*/

.sct1abt{
background-image: url(girlcode_students-BNN1dAjh.webp);
background-position: center;
padding-top: 80px;
padding-bottom: 80px;
}
.mantsu{
padding-left: 150px;
color: #ffffff;
}

.sct2abt{
background-color: #ececec;
display: flex;
height:450px;
}

.videoxx { padding-left: 100px;
    position: relative;
    width: 80%;
    max-width: 800px;
    padding-top: 50px;
    padding-right: 50px;
}
video {
    display: block;
    width: 100%;
    height: auto; 
    outline: none; 
}

.parabt{padding-left: 10px;
padding-top: 170px;
}
h3.parabt{
padding-bottom: 10px;
}


.www{
text-align: center;
padding-top: 50px;
}

.numbers{
font-size:25px ;
text-align: center;
display: flex;
gap: 380px;
padding-top: 50px;
padding-left: 350px;
}
.redwords{
color: #ff0000;
font-size: 18px;
text-align: center;
display: flex;
gap: 300px;
padding-left: 330px;
}
.snps{
text-align: center;
padding-left: 170px;
display: flex;
gap: 70px;
margin-bottom: 100px;
}

.team{
margin-bottom: 50px;
background-color: #ececec;
}
.sba{
padding-top: 20px;
padding-bottom: 20px;
text-align: center;
}




.ar-1 {
    aspect-ratio: 1;
    object-fit: cover;
  }

   div h5 {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.2;
    
}






.snep {
    display: flex;
    margin: 20px;
    gap: 20px;
    padding-left: 100px;
  }
  .sneps img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 3%;
  }
  .sneps p {
    margin: 5px 0;
    text-align: center;
  }
  .tit {
    font-weight: bold;
    color: #555;
  }

  
  .row2 {
    display: flex;
    margin: 20px; 
    gap: 20px;
    padding-left: 100px;
    margin-bottom: 20px; 
  }
  .snepe img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 3%;
  }
  .snepe p {
    margin: 5px 0;
    text-align: center;
  }
.snepe{
  border: 1px #555;
}


  .tit {
    font-weight: bold;
    color: #555;
  }
  .row3 {
    display: flex;
    margin: 20px; 
    gap: 20px;
    padding-left: 100px; 
  }  
  .row1a {
    display: flex;
    margin: 20px;
    margin-bottom: 30px; 
    gap: 20px;
    padding-left: 100px; 
  } 
  .row2a {
    display: flex;
    margin: 20px; 
    gap: 20px;
    padding-left: 250px; 
  } 


  .board{
    background-color: #ffffff;
    padding-top: 5px;
    padding-bottom: 50px;
    }
  .tpic{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    }

  .sct5abt{
    display: flex;
    background-position: center;
    background-image: url(girlcode_students-BNN1dAjh.webp);
    padding-top: 60px;
    padding-bottom: 60px;
  }
.wordes{
  padding-left: 150px;
  color: #ffffff;
}
.fest{
font-size: 35px;
}
.sest{
  font-size: 18px;
}

.bathan{
  padding-left: 250px;
  padding-top: 55px;
  font-size: 22px;
}
.bathan button {
  background-color: white; 
  color: #ff69b4; 
  padding: 5px 30px;
  font-size: 22px;
  cursor: pointer; 
  border-radius: 10px;
  outline: none;
}
